.nav{
    grid-area: nav;
    background-color: aquamarine;
    padding: 20px;
}
.item a{
    color: #232aa4;
    text-decoration: none;
}
.item a.active {
    color: #fc014c;
}
.friendsImage{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}