.form.error input, .error textarea {
    border: 3px solid red
}

.form.error span {
    color: red;
}

.formSummaryError{
    border: 2px solid red;
    padding: 5px;
    color: #ff0000;
    font-size: 26px;
}